# dependencies
/node_modules

# misc
.env

# data
/data

# IA related files
controllers/IA
model_fold_1.pth
model_fold_2.pth
model_fold_3.pth
model_fold_4.pth
model_fold_5.pth

result_fold_1.json
result_fold_2.json
result_fold_3.json
result_fold_4.json
result_fold_5.json

training_results_hes.json
training_results_invoice.json
training_results_migo.json

