.footer {
	position: relative; /* Permite que ocupe su lugar natural */
	width: 100%;
	padding: 0.5em 20px; /* Espacio igual que en el header */
	background-color: #f2f2f2; /* Gris claro */
	box-shadow: none; /* Sin sombra */
	z-index: 1;
}

.footerContainer {
	display: flex;
	align-items: center;
	justify-content: center; /* Cambiado para centrar el contenido */
}

.footerText {
	margin: 0;
	color: #666666; /* Gris oscuro */
	font-size: 0.9em; /* Tamaño de texto ajustado */
}

.footerText span {
	font-weight: bold; /* Negritas para la parte solicitada */
}
